@media screen {
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: local('Kreon'), url('Kreon-Regular.woff') format('woff');
}
}
body {font: 16px/24px "Lucida Grande", Helvetica, "Microsoft YaHei", Arial, sans-serif; margin:0;}
article,aside,dialog,footer,header,section,footer,nav,figure,figcaption,hgroup{display:block;}     
#container {color:#333; margin: 0px auto; padding: 50px;
-moz-box-shadow:    0 10px 14px rgba(0, 0, 0, 0.8);
-webkit-box-shadow: 0 10px 14px rgba(0, 0, 0, 0.8);
font-family: 'Droid Sans', arial, serif;
line-height: 1.4;
}

h1, h2 { font-family: 'Kreon', arial, serif; text-shadow: 1px 1px 1px #FA8103; margin: 1px auto; }
h1 { text-align: center; font-size: 5em }
h2 { font-size: 2.2em; }
h3 { font-size: 1.6em; margin: 5px auto; }
h4 { font-size: 1.2em; margin: 5px auto; }

a { color: inherit; }
li{list-style:none;}
pre {
	border: 3px dashed #333;
	padding: 15px; 
	background-color: #444;
	text-wrap: wrap;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

code {
	padding: 2px;
	font-size: 0.7em;
	background-color: #444;
	color: #C5DBA9;
	font-family: 'Monaco',Courier,monospace !important;
}

code .keyword {font-weight: bold; color: #E9C062;}
code .string, code .regexp, code .number { color: #ffbb00}
code .class, code .special { color: white }
code .comment { color: #CCC }

.footer { text-align: center; }

/*docs*/
.menu{
	width:250px;
	overflow:auto;
	overflow-x:hidden;
	border-right:1px solid #aaa;
	font:12px/16px;
	position:fixed;
	top:10px;left:10px;
}
.menu > li{cursor:pointer;height:27px;font-size:14px;}
.menu > li > h4{text-align:left;border-bottom:1px solid #ccc;padding:7px 0 7px 25px;}
.menu > li > ul{display:none;}
.menu ul{list-style-type:disc;font-size:1.1em;}
.menu ul li{border-bottom:1px solid #eee;}
.menu ul li.current{padding-left:1em;color:#f90;}
.menu ul li.current a{color:#f90;font-weight:bold;}